body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.input_error-valid {
    color: #d32f2f;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .03333em;
    line-height: 1.66;
    margin: 3px 0 0;
    text-align: left
}

.input_center {
    text-align: center
}

::-webkit-scrollbar {
    height: 10px;
    width: 8px
}

::-webkit-scrollbar-track {
    background: #9fbeff96;
}

::-webkit-scrollbar-thumb {
    background-color: #3e81e7;
    border-radius: 0
}

.modal-list__header,.modal-yes-no__footer {
    display: flex
}

.modal-yes-no__footer-left,.modal-yes-no__footer-right {
    width: 50%
}

.modal-yes-no__footer-left {
    text-align: left
}

.modal-yes-no__footer-right {
    text-align: right
}

.bookings__export {
    display: none
}

.booking-header {
    display: flex;
    height: 40px;
    width: 100%
}

.booking-header__right {
    position: absolute;
    right: 0
}

.bookings__head-date {
    background: #3e81e7;
    color: #fff;
    font-size: 20px;
    height: 25px;
    padding: 5px 0
}

.bookings__row {
    cursor: pointer;
    background-color: #96c68e;
}

.bookings__row.active {
    background-color: #8ab6f7
}

.bookings__row.active:hover {
    background-color: #8ab6f7!important
}

.booking__timeslot__row {
    background-color: #aff3a5;
    display: flex;
    flex-direction: row;
    margin: 10px
}

tr.booking__timeslot-row_separator {
    height: 0.75em
}

.booking-panel__header {
    width: 100%;
    z-index: 2
}

.booking-panel__header-title {
    background-color: #3e81e7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    margin: 0;
    padding: 5px
}

.booking-panel__header-close {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 4px
}

.booking__panel-order-id {
    border: 1px solid grey;
    border-radius: 10px;
    font-size: .7em;
    margin: 0 5px;
    padding: 4px
}

.input-number-plus-minus {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400
}

.input-number-plus-minus__label {
    color: rgba(0,0,0,.6);
    font-size: .8em;
    margin: 0;
    padding-left: 15px;
    text-align: left
}

.input-number-plus-minus__wrapper {
    align-items: center;
    display: flex;
    padding-left: 10px
}

.input-number-plus-minus__input {
    font-size: 15px;
    width: 65px
}

.input-number-plus-minus-input__minus,.input-number-plus-minus-input__plus {
    background: #7f91cf;
    border-color: transparent;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    position: relative;
    width: 100%
}

.input-number-plus-minus-input__plus {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.input-number-plus-minus-input__minus {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -4px
}

.input-number-plus-minus-input__value {
    border: 1px solid #7f91cf;
    color: #7f91cf;
    font-weight: 600;
    height: 35px;
    margin: -3px 0;
    padding: 0;
    text-align: center;
    width: calc(100% - 2px)
}

.input-number-plus-minus__list {
    padding: 0 10px
}

.input-number-plus-minus__list-item {
    cursor: pointer;
    font-size: .8em;
    margin: 0;
    text-align: left
}

.input-number-plus-minus__list-item:hover {
    color: blue
}

.booking-panel__content-left {
    display: flex;
    flex-direction: column;
    width: 50%
}

.booking-panel__select label[data-shrink=false] {
    top: -5px
}

.booking-panel__content-right {
    align-items: flex-start;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%
}

.booking-panel__content-center {
    display: flex;
    flex-direction: column;
    width: 100%
}

.booking-panel__content-center-item {
    margin: 2px
}

.booking-panel__content {
    flex: 1 0 auto;
    position: relative;
    width: 100%
}

.booking-panel__content-group {
    display: flex
}

.booking-panel__content-header {
    display: flex;
    margin: 5px 0;
    width: 100%
}

.booking-panel__content-title {
    font-size: 18px;
    margin: 0 5px
}

.booking-panel__content-header-left {
    text-align: center;
    width: 70%
}

.booking-panel__content-header-right {
    width: 30%
}

.booking-panel__loading {
    background-color: #000;
    display: flex;
    font-weight: 700;
    height: 100%;
    opacity: .5;
    position: absolute;
    width: 100%;
    z-index: 5
}

.booking-panel__loading-success {
    color: green;
    margin: auto;
    padding: 20px
}

.booking-panel__loading-error {
    color: red;
    margin: auto;
    padding: 20px
}

.booking-panel__loading-loader {
    -webkit-animation: animation-booking-panel__loading-loader 2s linear infinite;
    animation: animation-booking-panel__loading-loader 2s linear infinite;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: #3498db;
    height: 120px;
    margin: auto;
    width: 120px
}

@-webkit-keyframes animation-booking-panel__loading-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes animation-booking-panel__loading-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.booking-panel {
    background-color: #f0f8ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    margin: 0 10px;
    overflow: auto;
    position: relative;
    text-align: center
}

.booking-content {
    display: flex;
    height: calc(100vh - 80px);
    justify-content: space-between
}

.booking-content__left {
    background-color: #f0f8ff;
    border-radius: 10px;
    height: 100%;
    width: calc(100% - 300px)
}

.booking-content__left.width-full {
    width: 100%
}

.booking-content__right {
    width: 300px
}

.page-booking {
    background-color: #9fbeff;
    height: 100vh
}

/*# sourceMappingURL=main.3073c2a0.css.map*/





/*ADD OVERRIDES*/

html {
    font-size: 18px;
}

body {
    padding-left: 1rem;
    max-width: 50rem;
}

tr.MuiTableRow-head:first-child {
    display: none;
}

.MuiTableCell-stickyHeader {
    top: 0 !important;
}

td.MuiTableCell-body {
    padding: 7px;
    color: inherit;
}

td.MuiTableCell-body:nth-child(3),
td.MuiTableCell-body:nth-child(5) {
    display:none
}

td.MuiTableCell-body:nth-child(1) {  
    font-weight: 600;
    text-align: center;
}
td.MuiTableCell-body:nth-child(2) {  
    padding: 0;
    color: grey;
    font-size: 0.75em;
}

.booking__timeslot-row-time {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    background: rgb(132 185 112) !important;
}
td.booking__timeslot-row-time {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;
}

tr.bookings__row:nth-child(odd),
tr.bookings__row:nth-child(2n) {
    background-color: #9cc09d;
}

tr.MuiTableRow-hover.bookings__row:hover {
    background-color: rgb(71 104 70 / 50%);
}

.booking__timeslot-row-btn_add {
    background-color: #d7ffd6;
}


tr.bookings__row:has([data-pr="1"]) {
    color: rgb(255, 0, 0);
}

#magicBtn {
    margin-left: 2rem;
    background-color: unset;
    color: red;
    border-color: red;
    border-width: 3px;
    border-radius: 0.5em;
    font-weight: 800;
}


